---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar/Navbar.astro';
---

<Layout title="Astrapi">
  <Navbar />
  <body class="bg-slate-950 text-white">
    <h1>Test</h1>
  </body>
</Layout>
