---
const { title } = Astro.props
import { ViewTransitions } from 'astro:transitions'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <link rel="stylesheet" href="/src/api/lib/syntax/prism.css" />
        <link rel="stylesheet" href="/icons/tabler-icons.min.css" />
        <link rel="preload" href="/icons/tabler-icons.min.css" as="style"/>
        <link rel="preload" href="/src/api/lib/syntax/prism.css" as="style"/>
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
    </head>
    <body class="bg-slate-950 text-white">
        <slot />
    </body>
</html>