---
import { Image } from 'astro:assets';
---

<nav class="sticky top-0 z-20 py-2 px-5 w-full bg-slate-950">
  <ul class="flex items-center justify-between">
    <li>
      <a href="/" class="hover:text-primary transition duration-200"><i class="ti ti-chevron-left text-3xl"></i></a>
    </li>
    <li>
      <Image src="/img/Astrapi.png" alt="Astrapi Logo" width={50} height={50} />
    </li>
  </ul>
</nav>
